<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<!--<div id="constructionOverlay">
    
</div>-->

<div id="wrap">

    <f:if condition="{isIntranet}">
        <f:then>
            <div id="header" class="intranet">
        </f:then>
        <f:else>
                <div id="headerImage">
                </div>
            <div id="header">
                
        </f:else>
    </f:if>
    
        
        
        
        <div class="wrap1600 flex">

            <div id="logo">
                    <f:link.typolink parameter="t3://page?uid={startpageId}">
                        <img src="{f:uri.resource(path: 'Media/bergbund_logo_21.png', extensionName: 'bergbundsite')}" width="100%" />
                    </f:link.typolink>
            </div>  
                <div id="logotext">
                    Sektion Bergbund München
                </div>

                <div id="mainmenu">
                    <f:format.raw>{mainmenu}</f:format.raw>
                </div>
                <div id="mobilemenu">
                    <f:comment>
                    <img src="{f:uri.resource(path: 'Media/Icons//hamburger.svg', extensionName: 'bergbundsite')}" width="100%" />
                    </f:comment>
                </div>
                <div id="searchbox">
                    <div id="searchboxInner">
                        <div id="searchboxItself">
                        <f:format.raw>{searchBox}</f:format.raw>  
                        </div>
                        <div id="searchIcon">
                            <img src="{f:uri.resource(path: 'Media/Icons/icon-search_home.svg', extensionName: 'bergbundsite')}" width="100%" />
                        </div>
                        
                    </div>
                </div>
        </div>                                                      

            <div id="headerspacer">
                </div>
            </div>
        </div>
    <f:format.raw>{researchtopics}</f:format.raw>
    
    <div id="innerWrap">
        <f:if condition="{data.backend_layout} == pagets__schmal">
            <f:then>
                <div class="narrow">
            </f:then>
            <f:else>
                <div class="broad">
            </f:else>
        </f:if>
        <f:if condition="{breadcrumb}">
            <div id="breadcrumb">

                <f:format.raw>{breadcrumb}</f:format.raw>

            </div>
        </f:if>
        <div class="clear"></div>
        <div id="mobilemenuContent">
            <div id="mobileSearchbox">
                <f:format.raw>{searchBox}</f:format.raw>  
                <div id="searchIcon">
                    <img src="{f:uri.resource(path: 'Media/Icons/icon-search_home.svg', extensionName: 'bergbundsite')}" width="100%" />
                </div>            
            </div>            
            
            <f:format.raw>{mainmenu}</f:format.raw>
        </div>
        
</html>
