@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=PT+Sans:ital,wght@0,400;1,700&display=swap');

@font-face {
    font-family: 'fira_sansbold';
    src: url('Fonts/firasans-bold-webfont.woff2') format('woff2'),
        url('Fonts/firasans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fira_sansbold_italic';
    src: url('Fonts/firasans-bolditalic-webfont.woff2') format('woff2'),
        url('Fonts/firasans-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fira_sansitalic';
    src: url('Fonts/firasans-italic-webfont.woff2') format('woff2'),
        url('Fonts/firasans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fira_sanslight';
    src: url('Fonts/firasans-light-webfont.woff2') format('woff2'),
        url('Fonts/firasans-light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'fira_sanslight_italic';
    src: url('Fonts/firasans-lightitalic-webfont.woff2') format('woff2'),
        url('Fonts/firasans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fira_sansmedium';
    src: url('Fonts/firasans-medium-webfont.woff2') format('woff2'),
        url('Fonts/firasans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fira_sansmedium_italic';
    src: url('Fonts/firasans-mediumitalic-webfont.woff2') format('woff2'),
        url('Fonts/firasans-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fira_sansregular';
    src: url('Fonts/firasans-regular-webfont.woff2') format('woff2'),
        url('Fonts/firasans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fira_sanssemibold';
    src: url('Fonts/firasans-semibold-webfont.woff2') format('woff2'),
        url('Fonts/firasans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fira_sanssemibold_italic';
    src: url('Fonts/firasans-semibolditalic-webfont.woff2') format('woff2'),
        url('Fonts/firasans-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fira_sansthin';
    src: url('Fonts/firasans-thin-webfont.woff2') format('woff2'),
        url('Fonts/firasans-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fira_sansthin_italic';
    src: url('Fonts/firasans-thinitalic-webfont.woff2') format('woff2'),
        url('Fonts/firasans-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'overpass';
    src: url('Fonts/overpass-regular-webfont.woff2') format('woff2'),
        url('Fonts/overpass-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'overpass';
    src: url('Fonts/overpass-semibold-webfont.woff2') format('woff2'),
        url('Fonts/overpass-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: 600;
}




*, html, body, table, td, tr, div, p {
    padding:0;
    margin:0;
}

body {
    hyphens: auto;
}
html {
    font-family:"fira_sansregular";
    font-weight: 200;
    font-size:18px;    
    line-height:25px;
    text-rendering: optimizeSpeed;
    font-feature-settings: "liga" 0;   
}

#menuCloseOverlay {
    position:fixed;
    top:0;
    z-index: 4;
    width:100vW;
    height:100vH;
    background:none;
    display:none;
}
#mobilemenuContent {
    opacity:0;
    display:none;
}


div {
    /*    border:1px dotted grey;*/
}

.wrap1600 {
    max-width:1650px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    padding: 0 2rem 0 2rem;
}

.broad {padding-top: 26rem;}

.wrap1400 {
    max-width:1450px;
    margin: 0 auto;
}

.flex {
    display:flex;
}

.flex.stretch {
    justify-content: space-between;
}
.maxcontent {
    width: max-content;
}
#innerWrap {
    /*    padding-bottom: 4em;*/
}


#headerImage {
    z-index:0;
    position:absolute;
    width:100%;
    height: 30rem;
    background-image: url(../Media/bgtest.png);
    background-size: cover;
}

#header {
    /*    background: #003160;*/
    /*    display:flex;*/
    position: fixed;
    width:100%;
    height: 5.5rem;
    background-color: rgba(0,0,0 ,0.58);
    transition: position,background-color,height,top,padding-top 1.3s;
    /*    transition: font-size 0s;*/
    z-index:9;
}
#logo {
    padding-top:2rem;
}

#logotext {
    height: 6rem;
    color:white;
    padding:3.4rem 0 0 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.02em; 
    font-family:"PT sans";
    font-weight: 600;
    font-size:1.5rem;
}

#innerWrap {
    background:#f0f0f0;
    padding:8rem 2rem 0 2rem;
}

#content {
    padding: 0 4rem 5rem 4rem;

}


#footer .footerInnerWrap {
    /*    padding-left:100px;
        padding-right:60px;*/
    padding-left:5.88rem;
    padding-right:3.5rem;

}

#footer {
    background:#003160;
    padding:5em 0 4em 0;
    color:#e8e8e8;
    font-size:0.9em;
    line-height: 1.3em;
}

#footer a {
    color:#e8e8e8;
}

.floatRight {
    float:right;
}

.clear{
    clear:both;
}

#mainmenu {
    padding:3.6rem 0 0 7rem;
    flex:1;
    z-index:99;
    font-weight: 600;
    letter-spacing: 0.040em;   
    font-size:1.1em;
}


#mainmenu ul {
    display:flex;
    align-items:center;    
    /*    border:1px dotted white;*/
    width:100%;
    justify-content: space-around;
    position:relative;    
}
#mainmenu ul li { 
    position:relative;
    list-style-type: none;
    /*    flex:1;  space between is used, not fixed with */
    text-align: right;
    font-weight: bold; 
}
#mainmenu ul li a {
    color:white;
    text-decoration: none;
}
/*
#header.homeTrans #mainmenu ul li a {
    transition: color 0.4s;
}*/

#mainmenu ul.menuLevel2 {
    display:none;
    position:absolute;
    background-color:rgba(255,255,255,0.98);
    margin-top:0.5rem;
    padding: 2.5rem 3.5rem 1.5rem 3.5rem;   
    width:auto;
    font-size:0.9em;  
    box-shadow: 0 0 30px 0 rgba(0, 24, 46, 0.04);    
    left:-3.5rem;
}
#mainmenu ul.menuLevel2 li {
    text-align: left;
    padding-bottom:20px;
    white-space: nowrap;
}
#mainmenu ul.menuLevel2.open {
    display:block;
}
#mainmenu ul.menuLevel2 a {
    /*    color:#003160;*/
    color:rgba(0,49,96,0.9)
}
#mainmenu ul.menuLevel2 a:hover {
    color:#0067c7;
}
#mainmenu ul.menuLevel2 li.researchTopicHeader {
    font-weight: normal;
}

#searchbox {
    padding: 3.6rem 0 0 0;
}