<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Unused:
          List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Listing for Unused</h1>

    <f:flashMessages />

    <table class="tx_bergbundsite">
        <tr>
            <th></th>
            <th></th>
        </tr>
        <f:for each="{unuseds}" as="unused">
            <tr>
                <td><f:link.action action="edit" arguments="{unused : unused}">Edit</f:link.action></td>
                <td><f:link.action action="delete" arguments="{unused : unused}">Delete</f:link.action></td>
            </tr>
        </f:for>
    </table>

    <f:link.action action="new">New Unused</f:link.action>
</f:section>
</html>
